body {
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 228, 228);
}
.navbar ul {
    list-style-type:none;
    margin: 2% 5%;
    padding: 0;
    text-align: right;
}
.navbar li{
    display: inline-block;  
}
.navbar a {
    display: block;
    text-decoration: none;
    margin: 8px;
    padding: 5px 10px;
    color: black;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar a:hover {
    background-color: salmon;
}



