body {
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 228, 228);
    margin: 0% 8%;
}
.navbar ul {
    list-style-type:none;
    margin: 2% 5%;
    padding: 0;
    text-align: right;
}
.navbar li{
    display: inline-block;  
}
.navbar a {
    display: block;
    text-decoration: none;
    margin: 8px;
    padding: 5px 10px;
    color: black;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar a:hover {
    background-color: salmon;
}
.introduction-area {
    display: flex;
}
.about_area {
    display: flex;
}
h1 {
    font-family:'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
}
h2 {
    font-family:'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: 400;
}
.blue_color {
    color: rgb(59, 51, 90);
}
.salmon_color {
    color: salmon;
}
.button {
    text-decoration: none;
    border-style: none;
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    background-image:linear-gradient(to right, blue, cyan);
}
.container{
    width: 50%;
}
.container img {
    margin-top: -60px;
    width: 90%;
}




